VITE_SUPABASE_URL=https://iwfrrlinrbxrvrcbjwfy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVyb2pucGlyYnhuZ29wYWtmaWZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5NDk5MTQsImV4cCI6MjA5NTUyNTkxNH0.1_eYu8bjRpjLgKdyRZNiTm5GHXeOtWH2e_VFZgZfAcs
